=render 'layouts/header'
.main-container
  =render 'users/shared/mypage-side-bar'

  .profile-content
    .chapter-container
      .chapter-container__head 
        プロフィール
      = form_with model: @user, local:true, method: 'POST', class: 'head-form' do |f|
        .setting-profile-icon
          %figure
            = image_tag 'member_photo_noimage_thumb.png', size: '60x60'
          = f.text_field :nickname, { class: 'input-default' ,value: "うみすけ", placeholder: '例)AYA☆セール中' }
        .setting-profile-content
          = f.text_area :content, { class: 'textarea-default',value: "1000字", placeholder: '例)こんにちは☆ご覧いただきありがとうございます！かわいいものやきれいめオフィスカジュアル中心に出品しています。服のサイズは主に9号です。気持ちよくお取引できるよう心がけていますので、商品や発送方法などご質問がありましたらお気軽にどうぞ♪' }
          = f.submit '変更する', class: 'btn-default btn-red'

=render 'layouts/footer'