.default-container
  = render 'layouts/header'

  .content
    %main.camp-main.camp-page-index{:role => "main"}
    %section.camp-keyvisual
      %h2
        %img{:alt => "メルカリなら新品も中古もお得！キャンプ用品 大特集！", :src => "//www-mercari-jp.akamaized.net/assets/img/featured/camp/index/index_keyvisual.png?465897195"}/
    .item__content
      %h2.item__content__header 人気のカテゴリー
      .item__box
        %ul.item__box--search
          %li
            .item__box--search-genre レディース
          %li
            .item__box--search-genre メンズ
          %li
            .item__box--search-genre 家電・スマホ・カメラ
          %li
            .item__box--search-genre おもちゃ・ホビー・グッズ
  .item__main
    .item__main__genre
      %h3.item__main__genre--name レディース新着アイテム
      %a.item__main__genre--sub もっと見る
    .items-box-content.clearfix.category-brand-list  
      %section.items-box
        %figure.items-box-photo
          %img.lazyloaded{:alt => "【GU】ニット　L size", "data-src" => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519", :src => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519"}/
        .items-box-body
          %h3.items-box-name.font-2 【GU】ニット　L size
          .items-box-num
            .items-box-price.font-5 ¥700
            .font-2
              -# %i.icon-like-border
              -# %span 1
      %section.items-box
        %figure.items-box-photo
          %img.lazyloaded{:alt => "【GU】ニット　L size", "data-src" => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519", :src => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519"}/
        .items-box-body
          %h3.items-box-name.font-2 【GU】ニット　L size
          .items-box-num
            .items-box-price.font-5 ¥700
            .font-2
      %section.items-box
        %figure.items-box-photo
          %img.lazyloaded{:alt => "【GU】ニット　L size", "data-src" => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519", :src => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519"}/
        .items-box-body
          %h3.items-box-name.font-2 【GU】ニット　L size
          .items-box-num
            .items-box-price.font-5 ¥700
            .font-2
      %section.items-box
        %figure.items-box-photo
          %img.lazyloaded{:alt => "【GU】ニット　L size", "data-src" => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519", :src => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519"}/
        .items-box-body
          %h3.items-box-name.font-2 【GU】ニット　L size
          .items-box-num
            .items-box-price.font-5 ¥700
            .font-2
      %section.items-box
        %figure.items-box-photo
          %img.lazyloaded{:alt => "【GU】ニット　L size", "data-src" => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519", :src => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519"}/
        .items-box-body
          %h3.items-box-name.font-2 【GU】ニット　L size
          .items-box-num
            .items-box-price.font-5 ¥700
            .font-2
    .items-box-content.clearfix.category-brand-list  
      %section.items-box
        %figure.items-box-photo
          %img.lazyloaded{:alt => "【GU】ニット　L size", "data-src" => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519", :src => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519"}/
        .items-box-body
          %h3.items-box-name.font-2 【GU】ニット　L size
          .items-box-num
            .items-box-price.font-5 ¥700
            .font-2
              -# %i.icon-like-border
              -# %span 1
      %section.items-box
        %figure.items-box-photo
          %img.lazyloaded{:alt => "【GU】ニット　L size", "data-src" => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519", :src => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519"}/
        .items-box-body
          %h3.items-box-name.font-2 【GU】ニット　L size
          .items-box-num
            .items-box-price.font-5 ¥700
            .font-2
      %section.items-box
        %figure.items-box-photo
          %img.lazyloaded{:alt => "【GU】ニット　L size", "data-src" => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519", :src => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519"}/
        .items-box-body
          %h3.items-box-name.font-2 【GU】ニット　L size
          .items-box-num
            .items-box-price.font-5 ¥700
            .font-2
      %section.items-box
        %figure.items-box-photo
          %img.lazyloaded{:alt => "【GU】ニット　L size", "data-src" => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519", :src => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519"}/
        .items-box-body
          %h3.items-box-name.font-2 【GU】ニット　L size
          .items-box-num
            .items-box-price.font-5 ¥700
            .font-2
      %section.items-box
        %figure.items-box-photo
          %img.lazyloaded{:alt => "【GU】ニット　L size", "data-src" => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519", :src => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519"}/
        .items-box-body
          %h3.items-box-name.font-2 【GU】ニット　L size
          .items-box-num
            .items-box-price.font-5 ¥700
            .font-2

  .item__main
    .item__main__genre
      %h3.item__main__genre--name メンズ新着アイテム
      %a.item__main__genre--sub もっと見る
    .items-box-content.clearfix.category-brand-list  
      %section.items-box
        %figure.items-box-photo
          %img.lazyloaded{:alt => "【GU】ニット　L size", "data-src" => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519", :src => "https://static.mercdn.net/thumb/photos/m23571987375_1.jpg?1572502519"}/
        .items-box-body
          %h3.items-box-name.font-2 【GU】ニット　L size
          .items-box-num
            .items-box-price.font-5 ¥700
            .font-2
  
  .item__main
    .item__main__genre
      %h3.item__main__genre--name 家電・スマホ・カメラ新着アイテム
      %a.item__main__genre--sub もっと見る

  .item__main
    .item__main__genre
      %h3.item__main__genre--name おもちゃ・ホビー・グッズ新着アイテム
      %a.item__main__genre--sub もっと見る

  .item__content
    %h2.item__content__header 人気のブランド
    .item__box
      %ul.item__box--search_1
        %li
          .item__box--search-genre シャネル
        %li
          .item__box--search-genre ルイヴィトン
        %li
          .item__box--search-genre シュプリーム
        %li
          .item__box--search-genre ナイキ
.item__main
  .item__main__genre
    %h3.item__main__genre--name シャネル新着アイテム
    %a.item__main__genre--sub もっと見る

.item__main
  .item__main__genre
    %h3.item__main__genre--name ルイヴィトン新着アイテム
    %a.item__main__genre--sub もっと見る

.item__main
  .item__main__genre
    %h3.item__main__genre--name シュプリーム新着アイテム
    %a.item__main__genre--sub もっと見る

.item__main
  .item__main__genre
    %h3.item__main__genre--name ナイキ新着アイテム
    %a.item__main__genre--sub もっと見る
    
%aside
.app__banner
  .app__banner__mine
    .app__banner__mine__inner
      .app__banner__mine__inner_flm
        %h2 スマホでかんたんフリマアプリ
      .app__banner__mine__inner_doun
        %p 今すぐ無料ダウンロード！
      .app__banner__mine__inner_icon
        %ul.image__link
          %li
            = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?465897195", width:'68', alt:"")
          %li
            = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?465897195", width:'133', height:'40', alt:"")
          %li
            = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?465897195", width:'133', height:'40', alt:"")
    %figure
      = link_to image_tag("sumaho.png", height:'300', width:'260', alt:"")

=render 'layouts/footer'
