= render 'layouts/header'
%main
  .items-wrapper
    %section.item__box-container
      %h1.item__name 
        = @item.name
      .item__main-content.clearfix
        .item__main__content
          .owl-carousel.owl-loaded.owl-drag
            .owl-stage-outer
              .owl-item
                .owl-item-inner.is-higher-height
                  .owl-lazy
                    - if @item.images.attached?
                      - @item.images.each do |image|
                        = image_tag image
              .item__samjej
                .owl-dots
                  .owl-dot
                    %span
                    .owl-dot-inner
                      .is-higher-height
                        - if @item.images.attached?
                          - @item.images.each do |image|
                            = image_tag image
        %table.item__detail__table
          %tbody
            %tr
              %th 出品者
              %td
                =link_to ""  do
                  = @users.nickname
                %div
                  .item__detail__table__user
                    %i.icon-good
                      = fa_icon "smile-o"
                    %span 30
                  .item__detail__table__user
                    %i.icon-normal
                      = fa_icon "meh-o"
                    %span 0
                  .item__detail__table__user
                    %i.icon-bad
                      = fa_icon "frown-o"
                    %span 0
            %tr
              %th カテゴリー
              %td
                = link_to "#" do
                  本・音楽・ゲーム
                = link_to "#", class:"item-detail-table-sub-category" do
                  %div > テレビゲーム                        
                = link_to "#", class: ".item-detail-table-sub-sub-category" do
                  >
                  携帯用ゲーム本体
            %tr
              %th ブランド
              %td
                -# = link_to"#" do
                -#   %div
                -#   = @item.brand
            %tr
              %th 商品の状態
              %td
                = @item.condition
            %tr
              %th 配送料の負担
              %td 
                = @item.d_burden
            %tr
              %th 配送の方法
              %td
                = @item.d_way
            %tr
              %th 配送元地域
              %td
                = Prefecture.find(@item.prefecture_id)[:name] 
            %tr
              %th 発送日の目安
              %td 
                = @item.d_date
      .item__price__box
        %span.item__price__box__price 
          = "¥#{@item.price}"
        %span.item__price__box__tax (税込)
        %span.item__price__box__fee 送料込み
      - if user_signed_in?
        .text-center
          = link_to edit_item_path,method: :get,class: "item-delete-btn" do
            この商品を編集する 
          = link_to item_path,method: :delete,class: "item-delete-btn" do
            この商品を削除する
        .item-btn-float-area
          =link_to "#", class:'item-buy-btn' do
            購入画面に進む
      - else
        %section.visible-sp
          .item-btn-float-area
            =link_to "#", class:'item-buy-btn' do
              購入画面に進む
      %p.item-description-inner
        = @item.introduction

      .product-button-container.clearfix
        .product-button-left
          .product-button-like
            %button{type: "button", name: "like!", class: "product-button"}
              = fa_icon "heart"
              %span.fade-in-down いいね!
              %span.fade-in-down 0
        .product-button__report
          = link_to "", class: "product-button__report" do
            = fa_icon "flag"
            %span.fade-in-down 不適切な商品の報告            
        .product-button-right
          = link_to 'https://www.mercari.com/jp/safe/description/', target: "_blank", class: "safe-description" do
            = fa_icon "lock"
            あんしん・あんぜんへの取り組み
  .item__message
    .item__message__container
    .item__message__content
      %form.item__message__content-form{action: "", method: "POST"}
        %input{name: "__csrf_value", type: "hidden", value: "00adefeae53b9e1902b52ff10f47a8d98a5177ca4ae205a549780bc2621e9abb5cefa45ac2f844e9b477215706423ea6b5ca8ec770d4ca82c43e2706dbbb088e6"}/
        %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
        %input{name: "item_id", type: "hidden", value: "m70040871468"}/
        %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
        %textarea.textarea-default{name: "body", type: "text", value: ""}
        %button.message-btn-gray{type: "submit"}
          %span コメントする
  %ul.nav__item
    %li
      =link_to "#", class:'nav__item__prev' do
        .nav__item__arrow-left
          = fa_icon 'arrow-left', class: "icon_arrow-left"
        前の商品
    %li
      =link_to "#", class:'nav__item__next' do
        次の商品
        .nav__item__arrow-right
          = fa_icon 'arrow-right', class: "icon_arrow-right"
  .item__social
    %ul.item__social__box
      %li
        = link_to "#", target: "_blank", class: 'share-btn' do
          .icon-facebook
            = fa_icon 'facebook', class: "icon_facebook"
      %li
        = link_to "#", target: "_blank", class: 'share-btn' do
          .icon-twitter
            = fa_icon 'twitter', class: "icon_twitter"
      %li
        = link_to "#", target: "_blank", class: 'share-btn' do
          .icon-pinterest
            = fa_icon 'pinterest', class: "icon_pinterest"
  -# .items__profile
  -#   %section.items-box-container.clearfix.related-item-column.items-in-user-profile
  -#     %h2.items__profile__head
  -#       = link_to "#", class: 'items__profile__head' do
  -#         安楽さんのその他の出品
  -#   .items-box-content
  -#     %section
  -#       = link_to "#", class: 'items-box' do
  -#         %figure.items-box-photo
  -#           %img.lazyloaded{alt: "【連休中値下・良品】初代 ゲームボーイ カスタム GAME BOY【1029】", "data-src": :"https://static.mercdn.net/thumb/photos/m56893952203_1.jpg?1572354999", src: "https://static.mercdn.net/thumb/photos/m56893952203_1.jpg?1572354999"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 【連休中値下・良品】初代 ゲームボーイ カスタム GAME BOY【1029】
  -#           .items-box-num
  -#             .items-box-price.font-5 ¥12,000
  -#             .font-2 
  -# .items__profile
  -#   %section.items-box-container.clearfix.related-item-column.items-in-user-profile
  -#     %h2.items__profile__head
  -#       = link_to "#", class: 'items-box-head' do
  -#         携帯用ゲーム本体 （本・音楽・ゲーム） その他の商品 
  -#   .items-box-content
  -#     %section
  -#       = link_to "#", class: 'items-box' do
  -#         %figure.items-box-photo
  -#           %img.lazyloaded{alt: "【連休中値下・良品】初代 ゲームボーイ カスタム GAME BOY【1029】", "data-src": :"https://static.mercdn.net/thumb/photos/m56893952203_1.jpg?1572354999", src: "https://static.mercdn.net/thumb/photos/m56893952203_1.jpg?1572354999"}/
  -#         .items-box-body
  -#           %h3.items-box-name.font-2 【連休中値下・良品】初代 ゲームボーイ カスタム GAME BOY【1029】
  -#           .items-box-num
  -#             .items-box-price.font-5 ¥12,000
  -#             .font-2 
  %nav.bread-crumbs.pos-bottom
    %ul
      %li{itemscope: "", itemtype: ""}
        = link_to "#", itemprop: "url" do
          %span{itemprop: "title"} メルカリ
        %i.icon-arrow-right
          = fa_icon 'arrow-right', class: "icon_arrow-right"
      %li{itemscope: "", itemtype: ""}
        %span{itemprop: "title"} 【美品】初代 ゲームボーイ カスタム GAME BOY【1102】      
%aside
  .app__banner
    .app__banner__mine
      .app__banner__mine__inner
        .app__banner__mine__inner_flm
          %h2 スマホでかんたんフリマアプリ
        .app__banner__mine__inner_doun
          %p 今すぐ無料ダウンロード！
        .app__banner__mine__inner_icon
          %ul.image__link
            %li
              = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?465897195", width:'68', alt:"")
            %li
              = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?465897195", width:'133', height:'40', alt:"")
            %li
              = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?465897195", width:'133', height:'40', alt:"")
      %figure
        = link_to image_tag("sumaho.png", height:'300', width:'260', alt:"")
%footer
  .global-footer
    %nav.clearfix
      .footer-cell
        %h2.footer-head メルカリについて
        %ul
          %li.footer__contents__links_link
            = link_to "会社概要（運営会社）", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "採用情報", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "プレスリリース", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "公式ブログ", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "メルカリロゴ利用ガイドライン", {}, style: "color:#fff"
          %li
            = link_to "", class: "footer-social-link" do
              = fa_icon 'twitter', class: "icon_twitter"
          %li
            = link_to "", class: "footer-social-link" do
              = fa_icon 'facebook', class: "icon_facebook"
      .footer-cell
        %h2.footer-head ヘルプ＆ガイド
        %ul
          %li.footer__contents__links_link
            = link_to "メルカリガイド", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "楽々メルカリ便", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "ゆうゆうメルカリ便", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "大型メルカリ便", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "車体取引ガイド", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "メルカリあんしん・あんぜん宣言！", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "偽ブランド品撲滅への取り組み", {}, style: "color:#fff"
          %li.footer__contents__links_link
            = link_to "メルカリボックス", {}, style: "color:#fff"
      .footer-cell.full-width
        %h2.footer-head プライバシーと利用規約
        .inner-footer-cell
          %ul
            %li.footer__contents__links_link
              = link_to "プライバシーポリシー", {}, style: "color:#fff"
            %li.footer__contents__links_link
              = link_to "メルカリ利用規約", {}, style: "color:#fff"
            %li.footer__contents__links_link
              = link_to "あんしんスマホサポート制度に関する利用規約", {}, style: "color:#fff"
            %li.footer__contents__links_link
              = link_to "コンプライアンスポリシー", {}, style: "color:#fff"
      .footer-cell.full-width
        %h2.footer-head 
        .inner-footer-cell
          %ul
            %li.footer__contents__links_link
              = link_to "個人データの安全管理にかかる基本方針", {}, style: "color:#fff"
            %li.footer__contents__links_link
              = link_to "特定商取引に関する表記", {}, style: "color:#fff"
            %li.footer__contents__links_link
              = link_to "資金決済法に基づく表示", {}, style: "color:#fff"
            %li.footer__contents__links_link
              = link_to "法令順守と犯罪仰止のために", {}, style: "color:#fff"
      .footer-cell.footer-nav-lang
        %h2.footer-head 国
        %ul
          %li
            = link_to"#" do
              日本
          %li
            =link_to"#" do
              United States         
    .footer-bottom
      .footer-logo
        = link_to image_tag("//www-mercari-jp.akamaized.net/assets/img/common/common/logo-white.svg?465897195", height: '33', width: '124', href:"")  
      %span.footer-copyright
        %small © 2019 Mercari
